sirc-ws/src/wsdl/www.simbogota.com.co_8443/simBogotaWSCMS4_1/SimurWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.transito.com.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.transito.com.co/" name="SimurWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.transito.com.co/" schemaLocation="https://www.simbogota.com.co:8443/simBogotaWSCMS4_1/SimurWS?xsd=1" />
</xsd:schema>
</types>
<message name="consultarSimur">
<part name="parameters" element="tns:consultarSimur" />
</message>
<message name="consultarSimurResponse">
<part name="parameters" element="tns:consultarSimurResponse" />
</message>
<message name="radicarInconsistencia">
<part name="parameters" element="tns:radicarInconsistencia" />
</message>
<message name="radicarInconsistenciaResponse">
<part name="parameters" element="tns:radicarInconsistenciaResponse" />
</message>
<message name="consultarEstadoInconsistencia">
<part name="parameters" element="tns:consultarEstadoInconsistencia" />
</message>
<message name="consultarEstadoInconsistenciaResponse">
<part name="parameters" element="tns:consultarEstadoInconsistenciaResponse" />
</message>
<portType name="SimurWS">
<operation name="consultarSimur">
<input message="tns:consultarSimur" />
<output message="tns:consultarSimurResponse" />
</operation>
<operation name="radicarInconsistencia">
<input message="tns:radicarInconsistencia" />
<output message="tns:radicarInconsistenciaResponse" />
</operation>
<operation name="consultarEstadoInconsistencia">
<input message="tns:consultarEstadoInconsistencia" />
<output message="tns:consultarEstadoInconsistenciaResponse" />
</operation>
</portType>
<binding name="SimurWSPortBinding" type="tns:SimurWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultarSimur">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="radicarInconsistencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultarEstadoInconsistencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SimurWS">
<port name="SimurWSPort" binding="tns:SimurWSPortBinding">
<soap:address location="https://www.simbogota.com.co:8443/simBogotaWSCMS4_1/SimurWS" />
</port>
</service>
</definitions>